# Ignore the virtual environment directory
myenv/

# Ignore Python bytecode files
__pycache__/

# Ignore Visual Studio Code settings
.vscode/

# Ignore Django database file (if it's generated)
backend/scraper_project/db.sqlite3
